<%= form_tag({action: :auth}, role: "form", class: "form-horizontal") do %>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="control-label col-sm-2" for="login">Login:</label>
    <div class="col-sm-4">
      <input type="login" class="form-control" id="email" placeholder="Enter login">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
<% end %>