<% content_for :navigation do %>
    <h3>Delivery Dates:</h3>
    <div class="list-group" align="center">
      <% @load_dates.each do |load|
        delivery_date = load.delivery_date
      %>
          <%= link_to delivery_date, loads_path(date: delivery_date), class: (delivery_date.to_s == @date ? "list-group-item active" : "list-group-item") %>
      <% end %>
    </div>
<% end %>

<h3> Orders distribution across loads on: <%= @date %> </h3>

<% @orders_by_load.each do |load, orders| %>
  <%= render partial: "load", locals: {load: load, orders: orders} %>
<% end %>